name: Generate Snake Animation

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: andrecastrom06
          outputs: dist/github-contribution-grid-snake.svg?palette=github-dark

      - name: Prepare output folder
        run: |
          mkdir -p output
          cp dist/github-contribution-grid-snake.svg output/github-contribution-grid-snake.svg

      - name: Commit generated snake to repository
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update snake animation"
          file_pattern: "output/github-contribution-grid-snake.svg"
